# Abordagem ML tradicional

##  Diabetes com Scikit-Learn

Este notebook irá mostrar como construir um modelo de machine learning para prever a presença de diabetes com base em um conjunto de dados clínicos. Usaremos o **Scikit-learn**, uma poderosa biblioteca para machine learning em Python, para construir e avaliar o modelo. O conjunto de dados utilizado é o **diabetes dataset** disponibilizado pelo próprio Scikit-learn.

## Objetivo do Projeto

O objetivo deste projeto é construir um modelo de classificação para prever se um paciente tem diabetes ou não, com base em características médicas, como a idade, a pressão sanguínea, os níveis de glicose, entre outras. O conjunto de dados é um exemplo clássico utilizado para fins educativos em ciência de dados.

- ## Imports das bibliotecas

In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

- ## Carregamento dos dados

A biblioteca scikit-learn apresenta diversos datasets de exemplo para teste

In [2]:
diabetes = datasets.load_diabetes()

df = pd.DataFrame(data=diabetes.data, columns=diabetes.feature_names)
target = diabetes.target

df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641